.ojw_background {
    display: none;
    top: 0;
    left: 0;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .80;
    z-index: 9999;
    overflow: auto;
    overflow-y: scroll;
}

.ojw_popup {
    position: relative;
    background: #fff;
    opacity: 1;
    z-index: 99999;
    margin-left: auto;
    margin-right: auto;
}

.ojw_popup_header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.ojw_popup_body {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.ojw_popup_footer {
    padding: 10px;
    border-top: 1px solid #ddd;
}

.ojw_popup_close:hover {
    cursor: pointer;
}
.ojw_popup_close {
    font-size: 30px
    color: #ddd;
    float: right;
}

.clear {
    clear: both;
}
