.ot-spn-error,
.ot-spn-spinning {
    display: flex ;
    justify-content: center ;
    align-items: center ;
}

.ot-icon-animation-spinning {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.ot-icon-animation-spinning::before {
    content: "";
    margin: 1rem;
    padding: 10px ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size:contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' viewBox='-256 -256 512 512'%3E%3Cg fill='%23ccc'%3E%3Crect id='r' ry='19' height='143' width='52' transform='translate(-26,108)'/%3E%3Cuse xlink:href='%23r' transform='rotate(30)'/%3E%3Cuse xlink:href='%23r' transform='rotate(-30)'/%3E%3Cuse xlink:href='%23r' transform='rotate(60)'/%3E%3Cuse xlink:href='%23r' transform='rotate(-60)'/%3E%3Cuse xlink:href='%23r' transform='rotate(-90)'/%3E%3Cuse xlink:href='%23r' transform='rotate(-120)'/%3E%3Cuse xlink:href='%23r' transform='rotate(-150)'/%3E%3C/g%3E%3Cuse xlink:href='%23r' transform='rotate(90)' fill='%23c5c5c5'/%3E%3Cuse xlink:href='%23r' transform='rotate(120)' fill='%23999'/%3E%3Cuse xlink:href='%23r' transform='rotate(150)' fill='%23878787'/%3E%3Cuse xlink:href='%23r' transform='rotate(180)' fill='%23626262'/%3E%3C/svg%3E");
    animation: ot-icon-animation-spinning 1s steps(12) infinite;
}
.ot-icon-animation-spinning::after { content: normal !important; }
