@import "font-awesome.min.css";
@import "ot_buttons.css";
@import "ot_carousel.css";
@import "ot_sticky.css";
@import "ot_datetime.css";
@import "ot_drawer.css";
@import "ot_icons.css";
@import "ot_picture_uploader.css";
@import "ot_popup.css";
@import "ot_spinner.css";
@import "ot_page_transition.css";
@import "ot_tongue.css";
@import "os";
@import "demo";
