
/* */

html {
    height: 100%;
}
body {
    min-height: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* default */
h1 a {
  text-decoration: none;
  color: black;
}

fieldset {
  border: none;
}

textarea, textarea:focus {
  outline: none;
  border: none;
  margin: 0;
}

input {
  border: none;
  padding: 2px 4px;
}
input:focus {
  outline: none;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:focus {
  outline: 2px solid #ddd;
}

/*structure*/
body {
  font-family: sans-serif;
}


div.eba_main_infobox {
  position: fixed;
  right: 30px;
  top: 80px;
  width: 280px;
  max-height: 450px;
  padding: 0;
  margin: 0;
}

div.eba_main_infobox p {
  padding: 4px 15px;
}

p.el_infobox_even {
}

p.el_infobox_odd {
}

p.el_infobox_important {
}

div.eba_mainpart {
  position: absolute;
  left: 310px;
  top: 0;
  padding: 0 20px 0 30px;
}


div.eba_identity {
  position: relative;
}
div.eba_identity .eba_username {
  display: inline-block;
  width: 280px;
  vertical-align: middle;
}
div.eba_identity img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
div.eba_identity div.eba_upload_pic {
  display: none;
}
div.eba_identity:hover div.eba_upload_pic {
  display: block;
  position:absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50px;
  height: 50px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}


div.eba_logout_button {
}

div.eba_logout_button:hover {
  cursor: pointer;
}


/* users */
.eba_users {
  margin: 0;
  width: 500px;
}
div.eba_user_selector input {
  padding: 0;
  height: 23px;
}
span.eba_user_box {
  display: inline-block;
  height: 25px;
  vertical-align:text-top;
}
span.eba_user_box img.eba_avatar {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

section img.eba_avatar {
  width: 40px;
  height: 40px;
  float: left;
  vertical-align:text-top;
  margin: 0 8px 0 0;
}


span.eba_user_box span.eba_avatar {
  width: 25px;
  height: 25px;
  margin-left: 0px;
  padding: 0px 3px 2px;
}

section span.eba_avatar {
  width: 40px;
  height: 40px;
  float: left;
  vertical-align:text-top;
  margin: 0 8px 0 0;
}

/* Redefine box menu style */
div.el_expmenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}
div.el_expmenu_button {
  padding: 0 8px;
  font-weight: bold;
  border: none;
  width: 9px;
  height: 25px;
}
div.el_expmenu_button:hover {
  cursor: pointer;
  outline: none;
}
div.el_expmenu_button.el_expandable_button_opened {
  outline: none;
}
div.el_expmenu_content {
  top: 25px;
  right: 0;
  border: none;
}

/* Welcome page */
div.eba_welcomepage {
  margin: auto;
  margin-top: 100px;
  width: 580px;
}

div.eba_welcomepage h1,
div#eba_login_signup_box {
  margin: 0 8px;
}

div.eba_welcomepage h1 {
  top: 0;
  left: 0;
  width: 250px;
  height: 202px;
  text-align: center;
  padding: 4px 15px;
  margin: 0;
  font-size: 150px;
}

div.eba_welcomepage h2 {
  padding: 8px 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

div#eba_login_signup_box {
  width: 280px;
}

div#eba_login_signup_box form {
  height: 126px;
  text-align: center;
}

div#eba_login_signup_box label {
  font-size: 16px;
}


div.eba_activation {
  margin-top: 8px;
}

div.eba_welcomepage input {
  width: 230px;
  font-size: 16px;
  font-weight: bold;
  padding: 4px 8px;
  margin: 4px 6px 8px 6px;
  text-align: center;
}

div.eba_welcomepage input[type="submit"] {
  width: 246px;
}

/* Personal info box */
div#eba_welcome_box {
  width: 480px;
  padding: 10px;
  margin-bottom: 16px;
  text-align: center;
}
div#eba_welcome_box h2 {
  margin-top: 0;
}
div#eba_welcome_box table {
  display: inline-block;
  padding: 20px;
}
div#eba_welcome_box input[type="submit"] {
  width: 246px;
  padding: 8px;
  font-weight: bold;
}

div.el_completion {
  border: 1px solid black;
  position: absolute;
}

div.el_completion ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.eba_bubble {
  border-radius: 25px;
  box-shadow: 0px 0px 5px 1px #ccc;
  /* box-shadow-color ?? */
}


.eba_del_att_button {
  position: relative;
  font-family: 'HeydingsControlsRegular';
  font-size: 18px;
}

.eba_del_att_button {
  color: white;
}

.eba_del_att_button:hover {
  color: #ff605d;
  cursor: pointer;
}

div.eba_addrecip_widget input {
  margin: 0 5px;
}

div.eba_addrecip_widget {
    cursor: default;
    border-bottom: 3px;
    border-color: grey;
}

span.eba_removerecipbutton {
    color: white;
    padding: 3px;
    font-size: 12px;
}

span:hover>span.eba_removerecipbutton {
    color: #585858;
}


span.eba_openingwidgetbutton {
    float: right;
    color: grey;
    padding: 5px;
}

div.eba_addrecip_widget_buttons {
    display: block;
    text-align: right;
    color: grey;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

span.eba_closingwidgetbutton {
    padding-right: 10px;
}

span.eba_sendrecipbutton {
    padding-left: 10px;
}

/* Closed process */
div.eba_process_closed {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  z-index: 10000000;
  transition: background-color 2s;
  -moz-transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
}

div.eba_process_closed img {
  position: fixed;
  right: 33%;
  top: 55%;
}
div.eba_process_closed p {
  position: fixed;
  left: 66%;
  top: 55%;
  padding: 80px 0 0 15px;
}

/*
Disable the display of application name
div.eba_welcomepage h1.caml_process_node a.caml_link {
    display: none;
}
*/


#eba_admin_site_state {
}

#eba_open_state input {
    background-color: #01cc22;
    font-size: 15px;
    padding: 5px;
}

.eba_sw_sendbutton {
    width: 20px;
    height: 20px;
    background-color: green;
}

.eba_sw_cancelbutton {
    width: 20px;
    height: 20px;
    background-color: red;
}

.eba_sw_removebutton {
    width: 20px;
    height: 20px;
    background-color: red;
}

.eba_admin_button {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    background-color: red;
}

.eba_enabled {
    background-color: green;
}

.eba_admin_user_box {
}

.eba_avatar {
  width: 20px;
  height: 20px;
}

.eba_sw_selected {
}

.eba_user_box {
  border: 1px red solid;
}

.eba_sw_removebutton {
}

.eba_logout_button {
  width: 20px;
  height: 20px;
}

/* make a common error class ? */
div.eba_upload_error {
    background-color: #d3414a;
    margin: 10px;
    padding: 15px;
}




/* Login box */
div#eba_login_signup_box {
  height: auto;
  width: 560px;
  padding: 0 20px;
}
#eba_login_signup_box input {
}
div#eba_login_signup_box form {
  text-align: left;
  height: auto;
}
div#eba_login_signup_box input {
  display: inline-block;
  margin: 0 10px 10px 0;
  width: 120px;
}
div#eba_login_signup_box label {
  margin: 0 10px 0 0;
}
div#eba_login_signup_box h2 {
  display: inline;
  margin: 0 10px 0 0;
  color: #ddd;
  cursor: pointer;
  font-size: 12px;
}
div#eba_login_signup_box h2.pressed {
  color: black;
}
div#eba_login_signup_box p {
  width: 584px;
  background-color: white;
  color: #445588;
  padding: 14px 10px;
  margin: 0;
  text-align: left;
  position: absolute;
  top: 0;
  height: 22px;
}
div#eba_login_signup_box p.eba_error {
  width: 584px;
  background-color: #db6573;
  color: white;
  font-weight: bold;
  padding: 14px 10px;
  margin: 0;
  text-align: left;
  position: absolute;
  top: 0;
  height: 22px;
}


#eba-user-box {
  position: relative;
}

#eba-user-box img,
#eba-user-box div.eba_username,
#eba-user-box i {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

#eba-user-box img {
  height: 50px;
}

#eba-user-box div.eba_username {
  padding: 0px 8px;
}

#eba-user-box i.fa {
  color: #ddd;
  font-size: 38px;
  vertical-align: middle;
  padding: 6px;
}
#eba-user-box div.eba_usermenu {
  position: absolute;
  right: 0;
  top: 0;
}
#eba-user-box div.eba_usermenu_button {
  position: relative;
  right: 0;
  cursor: pointer;
  width: 50px;
}
#eba-user-box div.ojw_alert {
  position: absolute;
  right: 0;
  top: 50px;
  color: black;
  background-color: white;
  border: 1px #ddd solid;
  padding: 10px;
  display: none;
}

.eba-avatar {
  width: 50px;
  height: 50px;
}
