div.ot-toggle {
    display: inline;
    padding: 5pt 1pt 5pt 1pt;
    border-radius: 5pt
}

div.ot-inactive {
    color: white;
    display: inline;
    padding: 3pt;
    border: solid 1px transparent;
    cursor: pointer;
}

div.ot-active.ot-up {
    color: green;
    display: inline;
    padding: 3pt;
    border: solid 1px green;
    border-radius: 5pt;
}

div.ot-active.ot-down {
    color: red;
    display: inline;
    padding: 3pt;
    border: solid 1px red;
    border-radius: 5pt;
}

svg.ot-tp-clock {
    width: 120pt;
    border: solid 1px #333333;
    background-color: white;
    border-radius: 60pt;
    display: inline-block;
}

svg.ot-tp-clock.ot-tp-clock-24h {
    width: 160pt;
    border-radius: 80pt;
}

svg.ot-tp-clock.ot-tp-clock-24h text {
    font-size: 6pt;
}

svg.ot-tp-clock path {
    stroke: #333333;
    stroke-width: 2px;
}

svg.ot-tp-clock path.ot-tp-hand {
    stroke: #990000;
    stroke-width: 1px;
}

svg.ot-tp-clock circle.ot-tp-hand-circle {
    stroke: #990000;
    stroke-width: 1px;
    fill: #990000;
    fill-opacity: .3;
}

svg.ot-tp-clock.ot-tp-click-anywhere {
    cursor: pointer;
}

div.ot-tp-container {
    width: 160pt;
    border-radius: 4pt;
    background-color: #f9f9f9;
    margin: 5pt;
    padding: 5pt;
    border: solid 1px #999999;
    display: block;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ot-tp-text {
    cursor: pointer;
}

div.ot-tp-container div.ot-toggle {
    display: inline;
    padding: 5pt 1pt 5pt 1pt;
    margin: 4pt 0pt 0pt 0pt;
    border: solid 1px #333333;
    border-radius: 5pt
}

div.ot-tp-container div.ot-inactive {
    color: black;
    display: inline;
    padding: 3pt;
    border: solid 1px transparent;
    cursor: pointer;
}

div.ot-tp-container div.ot-active {
    color: black;
    background-color: #fafafa;
    display: inline;
    padding: 3pt;
    border: solid 1px #333333;
    border-radius: 5pt;
}

div.ot-tp-container div.ot-toggle {
    display: inline-block;
    padding: 5pt 1pt 5pt 1pt;
    background-color: white;
    border: 1px solid #333333;
}

div.ot-tp-container div.ot-tp-display {
    display: block;
    margin-left: 4pt;
    padding: 6pt;
}
.ot-c-table th,
.ot-c-table td {
    padding: .6rem;
    text-align: right;
}
.ot-c-table td {
    cursor: pointer;
}
.ot-c-clicked {
    background-color: #990000;
    border-radius: 50%;
}
.ot-c-prev-button,
.ot-c-next-button {
    padding: 0 2rem;
    cursor: pointer;
}
th.ot-c-header {
    text-align:center;
}

@keyframes shake-animation {
    0%   {transform: translateX(0)}
    25%  {transform: translateX(-5px)}
    75%  {transform: translateX(5px)}
    100% {transform: translateX(0)}
}

.ot-tp-clock-min {
    animation-name: shake-animation;
    animation-duration: .1s;
}
