/* Default CSS for eba and OW */

/* Default style for some basic elements */

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  border: none;
  padding: 2px 4px;
}
input:focus {
  outline: none;
}
input[type="submit"]:hover {
  cursor: pointer;
}
input[type="submit"]:focus {
  outline: 2px solid #ddd;
}

/* Login box */
div#eba_login_signup_box {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  width: 560px;
  padding: 0 20px;
}
div#eba_login_signup_box form {
  text-align: left;
  height: auto;
}
div#eba_login_signup_box input {
  display: inline-block;
  margin: 0 10px 10px 0;
  width: 120px;
}
div#eba_login_signup_box label {
  margin: 0 10px 0 0;
}
div#eba_login_signup_box h2 {
  display: inline;
  margin: 0 10px 0 0;
  color: #ddd;
  cursor: pointer;
  font-size: 12px;
}
div#eba_login_signup_box h2.pressed {
  color: black;
}

/* User box */
#eba-user-box {
  position: relative;
}

#eba-user-box img,
#eba-user-box div.eba_username,
#eba-user-box i {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
}

#eba-user-box img {
  height: 50px;
  width: 50px;
}

#eba-user-box div.eba_username {
  padding: 0px 8px;
}

#eba-user-box i.fa {
  color: #ddd;
  font-size: 38px;
  vertical-align: middle;
  padding: 6px;
}
#eba-user-box div.eba_usermenu {
  position: absolute;
  right: 0;
  top: 0;
}
#eba-user-box div.eba_usermenu_button {
  position: relative;
  right: 0;
  cursor: pointer;
  width: 50px;
}
.ojw_alert {
  display: none;
}
#eba-user-box div.ojw_alert {
  position: absolute;
  right: 0;
  top: 50px;
  color: black;
  background-color: white;
  border: 1px #ddd solid;
  padding: 10px;
  display: none;
}

/* Messages */
div#eba_msg {
  position: fixed;
  top: 0;
  right:0;
  width: 600px;
  margin: 0;
}
div#eba_msg p {
  min-height: 22px;
  padding: 14px 10px;
  margin: 0;
  text-align: left;
  background-color: white;
  color: #445588;
}
div#eba_msg p.eba_err {
  background-color: #db6573;
  color: white;
  font-weight: bold;
}

.ow_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 80px;
}

div.ow_popup {
  position: relative;
  display: inline-block;
  background-color: white;
  box-shadow: 0px 0px 5px 1px black;
  padding-top: 20px;
}

i.fa-close {
  position: absolute;
  right: 2px;
  top: 2px;
  cursor: pointer;
}

/* Pic upload */
div.ow_pic_uploader {
  position: relative;
  background-color: white;
  width: 800px;
  padding: 40px;
}

div.ow_pic_uploader img {
  width: 800px;
}


/* Tips */
div.tip {
  position: absolute;
  margin: 20px;
  padding: 30px 20px 30px 20px;
  -webkit-box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.4);
  background-color: white;
  z-index: 1111;
}
div.tip div.bec {
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: 1px solid #aaa;
  z-index: -1;
}
div.tip li,
div.tip p {
  padding-bottom: 10px;
}
div.coltip {
  width: 300px;
}


/* Closed process */
div.eba_process_closed {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  z-index: 10000000;
  transition: background-color 2s;
  -moz-transition: background-color 2s;
  -webkit-transition: background-color 2s;
  -o-transition: background-color 2s;
}

div.eba_process_closed img {
  position: fixed;
  right: 33%;
  top: 55%;
}
div.eba_process_closed p {
  position: fixed;
  left: 66%;
  top: 55%;
  padding: 80px 0 0 15px;
}
