.eba_admin_page {
    height: 100%;
    background-color: #f3f3f3;
}

.eba_admin_user_information {
    background-color: #333;
    color: white;
    padding: 8px;
}

.eba_admin_user_information img {
    width: 100px;
    height: 100px;
    float: left;
}

.eba_admin_user_information table {
    float: left;
    text-align: left;
}

.eba_admin_user_information {
    float: left;
}

.eba_admin_sandbox {
    position: relative;
    margin: 10px;
    background-color: white;
    position: relative;
    text-align: center;
    vertical-align: middle;
    min-height: 35%;
}

.eba_admin_sandbox input[type=text] {
    position: absolute;
    background-color: #dedede;
    height: 30px;
    left: 35%;
    top: calc(50% - 15px);
    top: -webkit-calc(50% - 15px);
    width: 30%;
}

ul.ew_dropdown li.ew_active {
	background-color: #64B3E8;
}

.eba_admin_sandbox input[type=button] {
    width: 20%;
    height: 40px;
    border-radius: 8px;
    font-size: 100%;
    margin: 4px;
}
.eba_admin_sandbox input[type=button] {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #2D47CC;
	*background-color: #2D47CC;
	background-image: -moz-linear-gradient(top, #1C9DFF, #2D47CC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1C9DFF), to(#2D47CC));
	background-image: -webkit-linear-gradient(top, #1C9DFF, #2D47CC);
	background-image: -o-linear-gradient(top, #1C9DFF, #2D47CC);
	background-image: linear-gradient(to bottom, #1C9DFF, #2D47CC);
	background-repeat: repeat-x;
	border-color: #2D47CC;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C9DFF', endColorstr='#2D47CC', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.eba_admin_sandbox button:hover,
.eba_admin_sandbox button:active,
.eba_admin_sandbox button.active,
.eba_admin_sandbox button.disabled,
.eba_admin_sandbox button[disabled] {
	color: #FFFFFF;
	background-color: #2D47CC;
	*background-color: #003bb3;
}

.eba_admin_group_of_user {
    float: left;
    display: inline-block;
    text-align: center;
    min-width: 10%;
    background-color: #ddd;
    margin: 2px;
    padding: 4px;
}

.eba_admin_group_of_user input {
    float: right;
}
