name: Build

on:
  pull_request:
  push:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - "4.08"
          - "4.09"
          - "4.10"
          - "4.11"
          - "4.12"
          - "4.13"
          - "4.14"
          - "5.0"
          - "5.1"
          - "5.2"
        include:
          - os: macos-latest
            ocaml-compiler: "4.14"
          - os: macos-latest
            ocaml-compiler: "5.2"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout tree
        uses: actions/checkout@v4

      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          allow-prerelease-opam: true
          opam-depext: false
          opam-pin: false

      - run: opam pin add ocsigen-start.dev . --no-action

      - name: Re-install OpenSSL on macOS
        if: runner.os == 'macOS'
        run: brew update && brew reinstall openssl@3

      - run: opam install .

      - run: mkdir -p template

      - run: opam exec -- eliom-distillery -name template -template os.pgocaml

      - run: opam install -y .
        working-directory: template

      - run: make USE_SASS=no db-init db-create db-schema
        working-directory: template

      - run: opam exec -- make USE_SASS=no all
        working-directory: template
